@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

body {
  font-family: 'Lato';
}

/* THE SECTION OF THE GLOBAL VARIABLES */
:root {
  /* THE COLOURS */
  --white: #fff;
  --primary: #2e8c47;
  --secondary: #16538a;
  --tetiary: #242424;
  --lighter: #f5f1f1;
  --light: #fbfbfb;
  --deep: #6161613f;
  --black: #3a3a3a;
  --hover: #00ff00;
  --agree: #e3ffeb;
  --review-check: #7c7c7c18;
  --non-active: rgba(124, 124, 124, 0.7);

  /* THE FONT-FAMILIES */
  --mont: 'Montserrat';
  --sans: 'DM Sans';
  --mukta: 'Mukta';

  /* FONT SIZES */
  --font-smallest: 10px;
  --font-smaller: 12px;
  --font-smalling: 13px;
  --font-small: 15px;
  --font-medium: 17px;
  --font-med:20px;
  --font-mid: 23px;
  --font-big: 25px;
  --font-large: 30px;
  --font-larger: 40px;
  --font-largest: 50px;

  /* SHADOWS AND TRANSITIONS */
  --shadows: 0px 22px 24px rgba(65, 111, 244, 0.2);
  /* --shadoos: 0px 6px 18px rgba(154, 155, 156, 0.15); */
  --shadoos: 0px 0px 7px rgba(65, 111, 65, 0.2);
  --shadow: 15px 15px 25px #ddd;
  --transition: all 0.3s linear;
}

a {
  text-decoration: none !important;
}

Link {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.loadings {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingss {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: var(--font-smalling);
}

input[type='text'] {
  padding: 8px;
  width: 100%;
  height: 45px !important;
  outline: none !important;
  border: 1px solid var(--deep);
  margin-bottom: 10px !important;
  font-size: var(--font-smalling);
}

input[type='password'] {
  padding: 8px;
  width: 100%;
  height: 45px !important;
  outline: none !important;
  border: 1px solid var(--deep);
  margin-bottom: 10px !important;
  font-size: var(--font-smalling);
}

input[type='number'] {
  padding: 8px;
  width: 100%;
  height: 45px !important;
  outline: none !important;
  border: 1px solid var(--deep);
  margin-bottom: 10px;
  font-size: var(--font-smalling);
}

input[type='checkbox'] {
  height: 15px !important;
  width: 15px !important;
}

select {
  padding: 8px;
  width: 100%;
  height: 45px !important;
  outline: none !important;
  border: 1px solid var(--deep);
  margin-bottom: 10px !important;
  font-size: var(--font-smalling) !important;
  background: var(--white);
}

input::-webkit-input-placeholder {
  font-size: var(--font-smalling);
}

button:focus {
  box-shadow: inset 0 -1px 0 #ddd !important;
}

.responsive {
  padding: 0px ;
  flex: 4;
  width: 100%;
  margin-left: 0px;
  overflow: auto;
  transition: var(--transition);
}

.response {
  padding: 0px;
  flex: 4;
  width: 100%;
  margin-left: 0;
  transition: var(--transition);
}

.menu{
  display:none;
  justify-content:flex-end;
  align-items: center;
  height:40px;
  padding-right:30px;
  box-shadow:var(--shadoos);
  font-size:20px;
  color:var(--primary);
  font-weight:bold;
  cursor:pointer
}



@media screen and (min-width: 900px) {
  .responsive {
    width: calc(100% - 230px);
    margin-left: 230px;
  }
}

@media screen and (max-width:900px){
  .menu{
    display:flex;
  }
}

.visible {
  font-size: var(--font-medium);
}
