.activated {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.activated_centers {
  height: 100vh;
  width: 100%;
  display: flex;
}

/* THE SECTION OF THE activated LEFT */
.activated_left {
  width: 40%;
  background: url('/src/assets/login_background.svg');
  background-position: center;
  background-size: cover;
  display: none;
  align-items: center;
  justify-content: center;
}

.activated_left_div {
  width: 75%;
  padding: 10px;
  text-align: center;
}

.activated_left_div h1 {
  color: var(--white);
}

.activated_left_div p {
  color: var(--white);
  margin-top: 20px;
}


/* THE SECTION OF THE activated RIGHT */
.activated_right {
  width: 100%;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  padding-top: 10px;
}

.activated_right::-webkit-scrollbar {
  display: none;
}

.activated_right_div {
  width: 90%;
  padding: 10px;
  text-align: center;
}

.logo_div {
  margin-bottom: 20px;
  height:100px;
  width:100px;
}

.activated_center {
  border: 1px solid var(--primary);
  max-width: 700px;
  border-radius: 6px;
  text-align: center;
  padding: 30px 0;
}

.activated_image img {
  width: 40%;
  height: 40%;
}

.active_div {
  line-height: 40px;
}

.active_div button {
  cursor: pointer;
}

.active_div h2 {
  color: var(--secondary);
  font-size: 23px;
}

/* The section of the media query */
@media screen and (max-width: 425px) {
  .activated_center {
    width: 100%;
    left: 0;
    right: 0;
  }
}

.activated_center button {
  background: var(--primary);
  color: var(--white);
  padding: 10px 25px;
  border: none;
  outline: none;
}

/* ========================================== */
/* THE SECTION OF THE MEDIA QUERY */

@media screen and (min-width: 701px) {
  .activated_left {
    display: flex;
    width: 35%;
  }

  .activated_right {
    width: 65%;
  }

  .activated_right_div {
    width: 80%;
  }
}

@media screen and (min-width: 900px) {
  .activated_left_div {
    width: 70%;
  }

  .activated_right_div {
    width: 60%;
  }
}
