.tabcontainer {
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--white);
  width: 100%;
}

.tabcenter {
  width: 100%;
  margin: 0 auto;
}

.bloctabs {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  transition: var(--transition);
  margin-bottom: 20px;
}

.bloctabs button {
  width: 100%;
  box-shadow: var(--shadoos) !important;
  font-size: var(--font-small);
  text-align: center;
}

@media screen and (min-width: 801px) {
  .bloctabs button:first-child {
    margin-right: 30px;
  }
}

.tabs {
  padding: 10px;
  text-align: center;
  width: 50%;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
  color: var(--non-active);
  font-weight: bold;
  font-size: var(--font-small);
  background: #fff;
  box-shadow: var(--shadoos);
}

#tabs {
  padding: 10px;
  text-align: center;
  width: 50%;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
  color: var(--deep);
  font-weight: bold;
}

.activetabs {
  padding: 10px;
  text-align: center;
  width: 50%;
  cursor: pointer;
  position: relative;
  outline: none;
  font-weight: bold;
  font-size: var(--font-small);
  background: #fff;
  color: var(--primary);
}

.bloctabs button {
  border: none;
  outline: none;
}

/* ================================================= */
/* THE SECTION OF THE CONTENT */
.contenttabs {
  flex-grow: 1;
}

.content {
  background: none;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}

#content {
  background: none;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}

.content h2 {
  padding: 0px 0 5px 0px;
  font-size: 18px;
}

.content p {
  width: 100%;
  height: 100%;
}

.activecontents {
  display: block;
  background: none;
  padding: 20px 0px;
  width: 100%;
  height: 100%;
  box-shadow: var(--shadoos);
}

.activecontent {
  display: block;
  background: none;
  padding: 20px 0;
  width: 100%;
  height: 100%;
}

.mobiletab {
  display: none;
}

/* ================================== */
/* THE SECTION OF THE MEDIA QUERY */

@media screen and (max-width: 800px) {
  .tabcontainer {
    padding-top: 20px;
  }

  .tabcenter {
    width: 95% !important;
  }

  .bloctabs {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background: white;
  }

  /* #bloctabs {
      display: flex;
      flex-direction: column;
      background: #f6f6f6 !important;
      z-index: 99;
      border: 1px solid var(--deep);
    } */

  .tabs {
    background: none;
    margin-left: 0;
    text-align: left;
  }

  .activetabs {
    background: none;
    margin-left: 0;
    text-align: left;
  }

  #none {
    display: none;
  }

  .content {
    padding: 0;
  }
}
