.forgot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.forgot_center {
  height: 100%;
  width: 100%;
  display: flex;
}

/* THE SECTION OF THE forgot LEFT */
.forgot_left {
  width: 40%;
  background: url('/src/assets/login_background.svg');
  background-position: center;
  background-size: cover;
  display: none;
  align-items: center;
  justify-content: center;
}

.forgot_left_div {
  width: 75%;
  padding: 10px;
  text-align: center;
}

.forgot_left_div h1 {
  color: var(--white);
}

.forgot_left_div p {
  color: var(--white);
  margin-top: 20px;
}

/* THE SECTION OF THE forgot RIGHT */
.forgot_right {
  width: 100%;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  overflow:auto;
}

.forgot_right::-webkit-scrollbar{
  display:none;
}

.forgot_right_div {
  width: 90%;
  padding: 10px;
  /* background: orange; */
}

.forgot_right_top {
  text-align: center;
  margin-bottom: 20px;
}

.forgot_right_top img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.forgot_right_top h4 {
  font-size: var(--font-medium);
}

.form_group {
  position: relative;
}

.eye {
  position: absolute;
  top: 33%;
  right: 12px;
  cursor: pointer;
  opacity: 0.3;
  transform: translateY(20%);
}

.eyes {
  position: absolute;
  top: 33%;
  right: 12px;
  cursor: pointer;
  opacity: 0.3;
  transform: translateY(40%);
}

.form_group label {
  font-size: var(--font-smalling);
  font-weight: 700;
  color: var(--black);
}

.form_group input {
  border-radius: 3px;
  border: 1px solid var(--deep);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
  font-size: var(--font-smalling);
}

.form_group button {
  background: var(--primary);
  color: var(--white);
  padding: 9px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 3px;
  margin-top: 15px;
}

.reg {
  margin-top: 20px;
  text-align: center;
}

.input_feedback {
  color: red;
  margin-top: -5px;
  font-size: var(--font-smaller);
  margin-bottom: 5px;
}

/* THE SECTION OF THE MEDIA QUERY */

@media screen and (min-width: 701px) {
  .forgot{
    height:100vh;
  }

  .forgot_center{
    height:100vh;
  }

  .forgot_left {
    display: flex;
    width: 40%;
  }

  .forgot_left_div {
    width: 90%;
  }

  .forgot_right {
    width: 60%;
    padding-top:0;
  }

  .forgot_right_div {
    width: 80%;
  }
}

@media screen and (min-width: 900px) {
  .forgot_left_div {
    width: 70%;
  }

  .forgot_right_div {
    width: 60%;
  }
}
